body{
 
    padding: 0;
    border: 0;
    margin: 0;
    background-color: rgb(32, 32, 32);
}

#header{
       
       margin-bottom:10px ;
       text-align: center;
       color: #c9c9c9;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
       
}

#foot{
     color: black;
     position: fixed;
     bottom: 0;
     text-align: center;
     color: #b9b9b9;
    }

#taskList {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.task {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
    padding: 4px;
   
}

.task input{
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: hsl(0, 0%, 19%);
    color: #b9b9b9;
    font-family: monospace;
}

.task button {
    padding: 8px 16px;
    background-color: #313131;
    color: rgb(156, 156, 156);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



#txt:hover{
    background-color: #353535;
}

#txt:focus{
    border: none;
    outline: #b9b9b9;
}

.btn{
    padding: 8px 16px;
    background-color: #424242;
    color: rgb(175, 175, 175);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    right: 0;
    
    
    
}
.btn:hover{
    background-color: rgb(63, 63, 63);
}
.btn:focus{
    background-color: rgb(65, 65, 65);
}
.taske{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
    padding: 4px;
    font-size: medium;
    margin: auto;
    color: #b9b9b9;
    font-family: monospace;
    margin-bottom: 16px;
    margin-left: 10px;


}
